.site {
    display: flex;
    min-height: 100vh;
    flex-direction: column
}

.content {
    flex: 1
}

.post-admin-list {
    margin-bottom: 0px !important;
}

.navbar-item h1 {
    color: white !important;
}

.navbar-item:hover {
    background-color: #104db3 !important;
}



.tags {
    ;
}

.hide {
	display: none;
}